html,

body {
    height: 100%;
}

.content-wrapper{
    flex: 1;
}

aside{
    min-width: 200px;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color: #444444;
}

aside .nav-pills .nav-link:hover {
    background: rgba(0, 0, 0, 0.05);
}



aside .nav-pills .nav-link.active  {

    background: rgba(0, 0, 0, 0.05);

    color: #b90000  !important; 

    border-left: 4px solid #b90000;

}

.upload-icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #454545;
}

.btn-file {
    position: relative;
}

.btn-file input{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}








